* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
color: #000;
}

/* Навігаційне меню */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 40px;
background-color: #fff;
border-bottom: 1px solid #E7E9FC;
}

.logo {
  
}

.nav-links {
display: flex;
list-style: none;
}

.nav-links li {
margin-left: 30px;
}

.nav-links a {
text-decoration: none;
color: #000;
font-size:16px;
}

.nav-links a:hover {
color: #007BFF;
}

.contact-info {
display: flex;
gap: 20px;
}

.contact-info a {
text-decoration: none;
color: #000;
font-size: 14px;
}

.contact-info a:hover {
color: #2E2F42;
}

/* Бізнес-меню */

.business {
background-color: #007BFF;
height: 600px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.business h1 {
color: #fff;
font-size: 56px;
font-weight: 700;
text-transform: uppercase;
max-width: 700px;
margin-bottom: 30px;
}

.order-button {
background-color: #4D5AE5;
color: #fff;
border: none;
padding: 16px 32 px 16px 32;
gap: 10px
font-size: 16px;
border-radius: 8px;
cursor: pointer;
}

.order-button:hover {
background-color: #fff;
}

/* Секція з текстовими блоками */
.info {
display: flex;
justify-content: center;
gap: 30px;
padding: 94px 40px;
background-color: #fff;
}

.info-item {
max-width: 270px;
}

.info-item h3 {
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 10px;
}

.info-item p {
font-size: 14px;
color: #000;
line-height: 1.7;




